%h1 New Club
= form_with scope: :club, url: clubs_path, local: true do |form|
  - if @club.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited this club from being created
      %ul
        - @club.errors.full_messages.each do |msg
        %li
          - msg
  %p
    = form.label :name
    %br/
    = form.text_field :name
    %br/
  %p
    = form.submit
= link_to 'Back', clubs_path
